name: Docker Image CI / Martha Tiviano

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Docker image and push to repositories
    runs-on: ubuntu-latest  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4 

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: marthativiano/isa-oct25-cicd-docker:flaskapp

      - name: Deployment to EC2
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          debug: true 
          script: |
            docker image pull marthativiano/isa-oct25-cicd-docker:flaskapp
            docker container stop flask || true
            docker container rm flask || true
            docker container run -d --name flask -p 80:5000 marthativiano/isa-oct25-cicd-docker:flaskapp
